body {
  margin-top: 0;
  margin-left: 0;
  font-family: 'Spinnaker', sans-serif;
}

nav {
  background-color: var(--THEME_COLOR,#d33a2c);
}

nav ul {
  display: flex;
  justify-content: space-around;
  height: 60px;
  color: white;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}

nav ul li:hover {
  background: #b3d4fc;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul {
  list-style: none;
  padding-top: 20px;
}

.nav-element {
  text-align: center;
  width: 7.5%;
  padding-top: 10px;
}

nav form {
  align-self: center;
}

.top-section {
  background-color: brown;
  display: flex;
  flex-wrap: wrap;
  color: white;
  font-weight: 500;
}

.top-section article {
  display: flex;
  flex-direction: column;
  flex-basis: 50rem;
  flex-grow: 1;
  align-items: center;
}

.top-section > :nth-child(1), .top-section > :nth-child(4) {
  background-color: #bc3428;
}

.top-section > :nth-child(2) , .top-section > :nth-child(3) {
  background-color: #c7372a;;
}

.second-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-items: center;
  padding-left: 5%;
  padding-right: 20%;
  grid-gap: 15px;
}

.arrow {
  margin-top: 30px;
  width: 75px;
  height: 75px;
  background-color: silver;
}

.third-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
  padding-left: 5%;
  padding-right: 20%;
  grid-gap: 15px;
}

.third-section > :nth-child(1) {
  background-color: #d33a2c;
}

.fourth-section {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
  padding-left: 5%;
  padding-right: 20%;
  grid-gap: 15px;
}

.fourth-section > :nth-child(3) {
  background-color: #d33a2c;
}

.fifth-section {
  text-align: center;
}

.sixth-section {
  text-align: center;
  background-image: linear-gradient(#1b71bb 45%,#4399d9 100%);
  padding-left: 30%;
  padding-right: 30%;
}

.seventh-section {
  padding-left: 30%;
  padding-right: 30%;
}

#person {
  width: 100px;
  height: 100px;
  background-color: brown;
}

.seventh-section article {
  display: flex;
}

#week {
  width: 70%;
  margin-left: 20px;
}

.eighth-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  padding-left: 30%;
  padding-right: 30%;
  grid-gap: 15px;
}

.eight-img {
  width: 75px;
  height: 75px;
  background-color: steelblue;
}

.eighth-section article {
  display: flex;
}

.fourth-section :nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eighth-section article :nth-child(2) {
  width: 70%;
}

.ninth-section {
  text-align: center;
}

#book {
  width: 150px;
  height: 150px;
  background-color:lightblue;
}

.tenth-section article {
  display: flex;
  justify-content: space-between;
  background-color: #d33a2c;
  padding-left: 2%;
}

.eleventh-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  padding-left: 30%;
  padding-right: 30%;
}

.eleventh-section article:nth-child(4) {
  grid-column: 1/-1;
  justify-self: center;
  background-image: linear-gradient(#1b71bb 60%,#01a6c1 100%);
  margin: 1.5em 0;
  padding: 1em 0;
  box-shadow: none;
  max-width: 450px;
}

@media (max-width: 600px) {
  .eleventh-section article:nth-child(4) {
    grid-column-start: 2;
  }
}

footer {
  background-color: var(--THEME_SECONDARY_COLOR,#d33a2c);
  text-align: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
}

footer h4 {
  padding-top: 20px;
}

#cage {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: relative;
  bottom: 50px;
  left: 50px;
}
