body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.nav-element {
  background-color: red;
  width: 8.3%;
}

nav form {
  align-self: center;
}
.top-section {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;

}

.top-section article {
  display: flex;
  flex-direction: column;
  flex-basis: 20rem;
  flex-grow: 1;
  align-items: center;
}

.second-section {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );
  align-items: center;
  justify-items: center;
  padding-left: 20%;
  padding-right: 20%;
  grid-gap: 15px;
}

.second-section article{
  background-color: salmon;
}
.arrow {
  margin-top: 30px;
  width: 75px;
  height: 75px;
  background-color: silver;
}

.third-section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  justify-items: center;
  padding-left: 20%;
  padding-right: 20%;
  grid-gap: 15px;
}
.fourth-section {
    display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  justify-items: center;
  padding-left: 20%;
  padding-right: 20%;
  grid-gap: 15px;
}
.fifth-article {
text-align: center;
}
.sixth-article {
    text-align: center;
    background-color: blue;
    padding-left: 30%;
    padding-right: 30%;
}
.seventh-article{
    padding-left: 30%;
    padding-right: 30%;
    
}
#person {
    width: 100px;
    height: 100px;
    background-color: brown;
}
.seventh-article article{
    display: flex;
}