body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.nav-element {
  background-color: red;
  width: 8.3%;
}

nav form {
  align-self: center;
}
.top-section {
    background-color: brown;
    display: flex;
    flex-wrap: wrap;
}
